<?xml version="1.0"?>
<launch xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="params" value="${load_yaml('../../config/.launch_params.yaml')}"/>

    <xacro:macro name="joystick_gui" >
        <node name="joy_node"
              pkg="joy"
              type="joy_node"
              output="screen"
              clear_params="true" >
            <param name="dev" type="str" value="/dev/input/js${params['control']['js_number']}" />
        </node>

	    <node name="joystick_controller"
              pkg="spirit"
              type="joystick_controller.py"
              output="screen"
              required="true">

            <param name="ButtonLand" value="8" />
            <param name="ButtonArrived" value="9" />
            <param name="ButtonTakeoff" value="10" />
            <param name="ButtonEmergency" value="11" />

            <param name="AxisRoll" value="0" />
            <param name="AxisPitch" value="1" />
            <param name="AxisYaw" value="2" />
            <param name="AxisZ"	value="3" />

            <param name="ScaleRoll" value="1" />
            <param name="ScalePitch" value="1" />
            <param name="ScaleYaw" value="1" />
            <param name="ScaleZ" value="1" />
	    </node>
    </xacro:macro>

    <xacro:if value="${params['control']['use_joystick']}">
        <xacro:joystick_gui />
    </xacro:if>
</launch>
