<?xml version="1.0"?>
<launch>
  <node name="display_camera" pkg="spirit" type="display_camera.py" output="screen">
    <remap from="image" to="ardrone/image_raw" />
    <param name="window_name" value="30 Hz feed" />
  </node>

  <node name="display_slow_camera" pkg="spirit" type="display_camera.py" output="screen">
    <remap from="image" to="ardrone/slow_image_raw" />
    <param name="window_name" value="2 Hz feed" />
  </node>

  <node name="display_past_image" pkg="spirit" type="display_camera.py" output="screen">
    <remap from="image" to="ardrone/past_image" />
    <param name="window_name" value="Past image feed" />
  </node>
</launch>
