<?xml version="1.0"?>
<launch>
  <arg name="eval_method" />
  <arg name="constant_time_delay_delay" />
  <arg name="constant_distance_distance" />

  <node name="physical2camera" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 ardrone/body ardrone/camera 100" />

  <node name="past_image_selector" pkg="spirit" type="past_image_selector.py" output="screen">
    <param name="eval_method" value="$(arg eval_method)" />
    <param name="delay" value="$(arg constant_time_delay_delay)" />
    <param name="distance" value="$(arg constant_distance_distance)" />
  </node>
</launch>
