<?xml version="1.0"?>
<launch>
  <arg name="urdf_path" />
  <arg name="rviz_settings_path" />
  <arg name="joint_state_publisher_gui" />

  <!-- <node name="ardrone2body" -->
  <!--       pkg="tf" -->
	<!-- type="static_transform_publisher" -->
	<!-- args="0 0 0 0 0 0 1 ardrone ardrone/body 100" /> -->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf_path)'" />
  <param name="use_gui" value="$(arg joint_state_publisher_gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_settings_path)" required="True" />
</launch>
