<?xml version="1.0"?>
<launch>
  <!-- Flags -->
  <arg name="use_tum" default="true" doc="Whether to use the tum_ardrone package's GUI" />
  <arg name="mock_ardrone" default="false" doc="Whether to mock the drone camera input" />
  <arg name="mock_pose" default="false" doc="Whether to mock the drone pose" />

  <arg name="use_mocap" default="false" doc="Whether to connect to the mocap system" />
  <arg name="display_feeds" default="false" doc="Whether to display all camera feeds" />
  <arg name="joint_state_publisher_gui" default="false" doc="Whether to display the JSP GUI"/>

  <!-- Settings -->
  <arg name="drone_ip" default="192.168.1.1" doc="The IP address of the drone, if connected" />
  <arg name="past_image_eval_method" default="constant_time_delay" doc="The evaluation method to use" />
  <arg name="past_image_ctime_delay" default="10" doc="seconds" />
  <arg name="past_image_cdist_distance" default="1.5" doc="metres" />

  <arg name="urdf_path" default="$(find spirit)/urdf/drone.urdf.xacro" doc="The path to the drone model" />
  <arg name="rviz_settings_path"
       default="$(find spirit)/config/spirit.rviz"
       doc="The path to the rviz configuration file" />

  <!-- Camera
       
       Receives the camera feed from the AR.Drone, unless mocked. The feed is
       then slowed from 30 Hz to 2 Hz.

  -->
  <include file="$(find spirit)/launch/launchers/ardrone.launch" >
    <arg name="use_tum" value="$(arg use_tum)" />
    <arg name="mock_ardrone" value="$(arg mock_ardrone)" />
    <arg name="drone_ip" value="$(arg drone_ip)" />
  </include>

  <!-- Pose
      
       Publishes the pose of the AR.Drone, unless mocked.

       Note that if the AR.Drone feed is mocked, `ardrone_autonomy` would not be
       launched, so there would be no odometry. In that case, the pose will be
       mocked if `use_mocap` is `false`.
       
  -->
  <include file="$(find spirit)/launch/launchers/pose.launch" >
    <arg name="mock_pose" value="$(arg mock_pose)" />
    <arg name="use_mocap" value="$(arg use_mocap)" />
    <arg name="mock_ardrone" value="$(arg mock_ardrone)" />
  </include>

  <!-- Past images

       Selects the past image to use and publishes it.
       
  -->
  <include file="$(find spirit)/launch/launchers/past_images.launch" >
    <arg name="eval_method" value="$(arg past_image_eval_method)" />
    <arg name="constant_time_delay_delay" value="$(arg past_image_ctime_delay)" />
    <arg name="constant_distance_distance" value="$(arg past_image_cdist_distance)" />
  </include>

  <!-- Display

       Displays all video feeds if `display_feeds` is `true`.
       
  -->
  <include file="$(find spirit)/launch/launchers/display.launch" if="$(arg display_feeds)" />

  <!-- rviz -->
  <!-- <include file="$(find spirit)/launch/launchers/rviz.launch" > -->
  <!--   <arg name="urdf_path" value="$(arg urdf_path)" /> -->
  <!--   <arg name="rviz_settings_path" value="$(arg rviz_settings_path)" /> -->
  <!--   <arg name="joint_state_publisher_gui" value="$(arg joint_state_publisher_gui)" /> -->
  <!-- </include> -->
</launch>

