<?xml version="1.0"?>
<launch>
  <!-- Flags -->
  <arg name="mock_ardrone" value="true" />
  <arg name="mock_pose" value="true" />

  <arg name="use_mocap" value="false" />
  <arg name="display_feeds" value="true" doc="Whether to display all camera feeds" />
  <arg name="joint_state_publisher_gui" value="false" />

  <!-- Settings -->
  <arg name="drone_ip" value="192.168.1.1" />
  <arg name="past_image_eval_method" value="constant_time_delay" />
  <arg name="urdf_path" value="$(find spirit)/urdf/drone.urdf" />
  <arg name="rviz_settings_path" value="$(find spirit)/config/spirit.rviz" />

  <!-- Camera
       
       Receives the camera feed from the AR.Drone, unless mocked. The feed is
       then slowed from 30 Hz to 2 Hz.

  -->
  <include file="$(find spirit)/launch/launchers/ardrone.launch" >
    <arg name="mock_ardrone" value="$(arg mock_ardrone)" />
    <arg name="drone_ip" value="$(arg drone_ip)" />
  </include>

  <!-- Pose
      
       Publishes the pose of the AR.Drone, unless mocked.

       Note that if the AR.Drone feed is mocked, `ardrone_autonomy` would not be
       launched, so there would be no odometry. In that case, the pose will be
       mocked if `use_mocap` is `false`.
       
  -->
  <include file="$(find spirit)/launch/launchers/pose.launch" >
    <arg name="mock_pose" value="$(arg mock_pose)" />
    <arg name="use_mocap" value="$(arg use_mocap)" />
    <arg name="mock_ardrone" value="$(arg mock_ardrone)" />
  </include>

  <!-- Past images

       Selects the past image to use and publishes it.
       
  -->
  <include file="$(find spirit)/launch/launchers/past_images.launch" >
    <arg name="eval_method" value="$(arg past_image_eval_method)" />
    <arg name="constant_time_delay_delay" value="10" doc="seconds" />
    <arg name="constant_distance_distance" value="1.5" doc="metres" />
  </include>

  <!-- Display

       Displays all video feeds if `display_feeds` is `true`.
       
  -->
  <include file="$(find spirit)/launch/launchers/display.launch" if="$(arg display_feeds)" />

  <!-- rviz -->
  <include file="$(find spirit)/launch/launchers/rviz.launch" >
    <arg name="urdf_path" value="$(arg urdf_path)" />
    <arg name="rviz_settings_path" value="$(arg rviz_settings_path)" />
    <arg name="joint_state_publisher_gui" value="$(arg joint_state_publisher_gui)" />
  </include>
</launch>

