<?xml version="1.0"?>
<launch> 
  <node pkg="mocap_optitrack"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true">
    <rosparam file="$(find spirit)/config/mocap.yaml" command="load"/>
  </node>
  <node name="beeper" pkg="spirit" type="beeper.py" output="screen" />
</launch>

